/* .file-upload-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: teal;
} */

.file-upload {
  background: white;
  padding: 20px;
  max-width: 800px;
  width:800px;
  box-sizing: border-box;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.hr-input {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #e9eef1;
  padding: 0 10px;
  font-size: 16px;
  border-radius: 13px;
  background-color: rgb(235, 235, 235);
}

.dropzone { 
  margin:0px;
  padding: 0px;
  
}

.dropzone.active {
  border-radius: 10px;
  border-color: 2px hsl(235, 89%, 62%);
  background-color: hsl(235, 89%, 62%);
  color: white;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
  height: 120px;
  overflow: hidden;
  width: 115%;
}


.file-list {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid lightgrey;
  width:100%;
}

.file-item:hover {
  background-color: #e9e9e9;
}

.file-size {
  margin-left: 10px;
  color: #777;
}

.delete-button {
  background: none;
  border: none;
  color: rgb(0, 76, 255);
  cursor: pointer;
  font-size: 18px;
  font-weight: lighter;
  transition: transform 0.2s ease-in-out; 
}

.delete-button:hover {
  transform: scale(1.2); 
}

.upload-button {
  display: block;
  padding: 10px;
  color: rgb(123, 123, 123);
  border-radius: 5px;
  border: 2px solid lightgrey;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
  background-color: white;
  height: 35px;
  margin-top: -2px;
}

.upload-icon {
  margin-right: 10px;
  margin-top: -2px;
  font-size: 18px;
  padding: 0px;
}

.upload-btn {
  display: block;
  padding: 10px;
  background-color: #d8e5fbd1;
  color: rgb(35, 116, 202);
  border:  1px solid rgb(35, 116, 202);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  width: 15%;
  font-weight: bold;
}
