<br/>
<div class="button-group">
  <a href="/books/new" class="button-link">
    <button class="button">Add New Book</button>
  </a>
  <a href="/books/index" class="button-link">
    <button class="button">View All Books</button>
  </a>
</div>