/* Home page */
.button-group {
  display: flex;
  gap: 15px;
}

.button-group .button-link {
  text-decoration: none;
}

.button-group .button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #0056b3;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group .button:hover {
  background-color: #004494;
}

/* show all books page */
.table-container {
  width: 60%;
  margin: 20px 0;
  border-collapse: collapse;
}

.table-container th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: darkcyan;
  color: #fffefe;
}

.table-container td {
  border: 1px solid #fffdfd;
  padding: 8px;
  text-align: left;
}

.table-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-container tr:nth-child(odd) {
  background-color: #e0e0e0; 
}

.table-container tr:hover {
  background-color: #d1e7dd;
}

/* new book form page */
.container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 80%;
}

.container h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.book-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  flex: 1;
  font-weight: bold;
  color: #555;
  text-align: left;
}

.form-group input {
  flex: 4;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.form-group input:focus {
  border-color: #0056b3;
  outline: none;
}

.submit-btn {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #0056b3;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  width: 30%;
  display: block;
  margin: 10px auto; 
}

.submit-btn:hover {
  background-color: #004494;
}