<div id="<%= dom_id customer %>">
  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Stripe customer:</strong>
    <%= customer.stripe_customer_id %>
  </p>

</div>
